<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        div {
            padding: 10px;
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <div id="myApp">
        <h1>Searching for {{searchme}}</h1>
        <input type="" name="" v-model="searchme">
        <div v-for="index in items | filterBy searchme">{‌{index.todo}}</div>
        <ul>
            <li v-for="index in items | filterBy searchme">{{ index.todo }}</li>
        </ul>

        <div>{{$data | json}}</div>
        <pre>{{$data|json}}</pre>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.25/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#myApp',
            data: {
                searchme: '',
                items: [
                    { todo: "creatd website" },
                    { todo: "go sleep" },
                    { todo: "eat breakfast" }
                ]
            }
        })
    </script>
</body>

</html>